{% load static %}

<!DOCTYPE html>
<html>
<title>
  Bra!nstorm
</title>
<script type="text/javascript" src="../../static/store/main.js"></script>
<link href="https://fonts.googleapis.com/css?family=Athiti|Carrois+Gothic|Podkova|Sarabun&display=swap|Arimo&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="{% static 'store/main.css' %}"  rel="stylesheet" type="text/css">
<head>
</head> 
<body>
  <div id="nav_bar" >
  <div class="topnav">
  <a style="padding-top: 7px;" class="left">
    <img src="/static/store/brainstorm_logo.gif" height="30px">
  </a> 
  <a href="{% url 'store-home' %}" class="left select">Home</a>
  <a href="{% url 'store-about' %}" class="left select">About</a>
  {% if user.is_authenticated %}
      <a href="{% url 'logout'%}" class="right select">Logout</a>
      <a href="{% url 'post-create'%}" class="right select">New Post</a>      
      <a href="{% url 'profile'%}"  style="padding-top: 7px;" class="right">  
        <img id="profile_icon" src="{{ user.profile.image.url }}" height="30px">
      </a>
    {% else %}
      <a href="{% url 'register'%}" class="right select">Register</a>
      <a href="{% url 'login'%}" class="right select">Login</a>
    {% endif %}
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <img src="/static/store/menu_icon.gif" width="20px">
  </a>
  <div id="search">
    <button id="search_holder">
    <img src="/static/store/search_icon.gif" id="search_icon"></button>
    <input type="text" placeholder="" class="right">
  </div>
  
</div>
  <div class="nav2">
    <select class="select-css">
    <option>Level</option>
    <option>Primary 1</option>
    <option>Primary 2</option>
    <option>Primary 3</option>
    <option>Primary 4</option>
    <option>Primary 5</option>
    <option>Primary 6</option>
    <option>Secondary 1</option>
    <option>Secondary 2</option>
    <option>Secondary 3</option>
    <option>Secondary 4</option>
    <option>Tertiary 1</option>
    <option>Tertiary 2</option>
</select>
    <select class="select-css">
    <option>Course</option>
    <option>Bible studies</option>
    <option>Devil worship</option>
    <option>Taoist 18 levels</option>
    <option>Karma</option>
    </select>
      <button class="go">GO</button>
    </div>
  </div>
 <div>
  {% if messages %}
    {% for message in messages %}
      <div class = "alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% block content %}{% endblock %}
</div>

</body>

</html>