{% load extra_filter %}
<div class="col-lg-3 col-md-6 mb-4">            
  <div id="course_card">            
      <div class="view overlay">
        {% if user.is_authenticated %}
              <a href="{% url 'post-detail' post.id %}" >
            {% else %}
              <a href="{% url 'login' %}" >
            {% endif %}
        <img style="margin-left: -10px;" src="{{ post.image.url }}" alt="">
        </a>
      </div>                                    
    <div>                
                  
      <div>
          <strong>
            {% if user.is_authenticated %}
              <a class="title" href="{% url 'post-detail' post.id %}" >
            {% else %}
              <a class="title" href="{% url 'login' %}" >
            {% endif %}
            {% if post.title|length < 30 %}
              <span>{{ post.title }}</span> 
            {% else %}
              <span>{{ post.title|cut:27 }}</span>
            {% endif %}
              <span  style="background-color: rgb(253, 98, 98);" class="badge badge-pill danger-color">NEW</span> 
              </a>
          </strong>
      </div>

      <div class="star-ratings-css">
          <div class="star-ratings-css-top" style="width: {{  post.n_rating|multiply_by:0.2 }}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      </div>
                    
      <a href="{% url 'user-posts' post.author.username %}" class="author">
        by {{ post.author }} 
      </a>

      <div>
        {% if post.price < 0.01 %}
        <img class= "pricE" src="/static/store/free.jpg" style="width: 35px; height: auto;">
        {% else %}
        <strong style="text-align: right;" class="pricE">S${{ post.price }}</strong>
        {% endif %}
      </div>
      <small class="date">
        {{ post.date_posted|date:'d F y'}}
      </small>
    </div>
    <div id = "sub_icon">
      <span id="number_icon">
      <h5>
        {% if post.n_subs < 1000 %}
        {{ post.n_subs }} 
        {% elif post.n_subs < 99990 %}
        {{ post.n_subs|multiply_byS:0.001 }}K
        {% else %}
        {{ post.n_subs|multiply_byS:0.000001 }}M
        {% endif %}
      </h5>
      </span>
    </div>            
  </div>            
</div>   