{% load extra_filter %}
<div id="useless">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="cover_holder">
      <img src="/static/store/kids.jpg" alt="c0">
      <div class="carousel-caption">
        <!-- <h3>User-Friendly Interface</h3>
        <p>get started now</p> -->
      </div>
      </div>
    </div>

    <div class="item">
      <div class="cover_holder">
      <img src="/static/store/teachers.jpg" alt="c1">
      <div class="carousel-caption">
        <!-- <h3>Teacher-approved</h3>
        <p>for all your paedophile-needs</p> -->
      </div>
      </div>
    </div>

    <div class="item">
      <div class="cover_holder">
      <img src="/static/store/badges.jpg" alt="c2">
      <div class="carousel-caption">
        <!-- <h3>Tons of Content and Categories</h3>
        <p>browse our content now</p> -->
      </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>

      <div class="panel">
        <span class="shape">
          <a href="{% url 'store-home'%}">
            <img src="/static/store/random.gif" alt="">
            Random Finds
          </a>
          </span>
          <span class="shape">
          {% if user.is_authenticated %}
          <a  href="{% url 'store-sub_home' %}">
          {% else %}
          <a  href="{% url 'login' %}">
          {% endif %}
            <img src="/static/store/Subscription.gif" alt="">
            My Subscription
          </a>
          </span>
          
          <span class="shape">
          {% if user.is_authenticated %}
          <a  href="{% url 'user-posts' user.username %}">
          {% else %}
          <a  href="{% url 'login' %}">
          {% endif %}
            <img src="/static/store/content.gif" alt="">
            My Content
          </a>
          </span>
      </div>
      <p style="padding: 20px;"></p>