{% extends "store/base.html" %}
{% block content %}
{% load extra_filter %}
{% load crispy_forms_tags %}

<div id="main">   
<article class="media content-section">
  <span id="post__">  
  <img class="post_detail_image"  src="{{ post.image.url }}">
  <div class="star-ratings-css" style="font-size: 48px; width:200px;">
  <div class="star-ratings-css-top" style="width: {{ object.n_rating|multiply_by:0.2 }}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
</div>
 <h6>rating: {{ object.n_rating|multiply_by:0.01 }} from {{ object.feedback|get_m|legit_count }} users</h6>
 <h2>{{ object.n_subs }} <img src="/static/store/sub_icon.gif" style="width:30px; height: 31px;"></h2>
</span>
  <div class="media-body">
    <div class="article-metadata">
      <img src="{{ object.author.profile.image.url }}" id="profile_icon">
      <a class="mr-2" href= "{% url 'user-posts' object.author.username %}" >{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
      <p>
        <h6> ${{ object.price}} </h6>
      </p>
    {% if object.author == user or object in sub %}
    <button id="togglecomment" style="float: right;" onclick="toggle_comment(); return true;">Give A Review</button>
    {% endif %}
      {% if object.author == user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
        </div>
        
        <div>
          <a class="btn btn-default" href="{% url 'lesson_upload' object.id %}">Upload material</a>
        </div>
        <div>
          <a class="btn btn-default" href="{% url 'lesson_uploaded' object.id %}">Currently uploaded material</a>
        </div>    
      {% endif %}      
    {{ object.Lesson.title }}
    <h2 class="article-title">{{ object.title }}</h2>
    {% if object.description|length < 200 %}
    <p class="article-content">{{ object.description|linebreaks }}</p>
    {% else %}
    <p class="article-content">
      <span id="desc">{{ object.description|cut:200|linebreaks }}  
        </span>
      <span id="expanded_desc" style="display: none;">
        {{ object.description|cutb:200|linebreaks }}
      </span>
      <button id="toggle_desc" style="width: 100%; border: none; outline: none;" onclick="expandcontent(); return true;">▼</button>
    </p>
    {% endif %}
    {% if object.author != user %}
    {% if object in sub %}
    <div>
          <a class="btn btn-default" href="{% url 'lesson_uploaded' object.id %}">Currently uploaded material</a>
          <a class="btn btn-default" href="{% url 'interactive' object.id %}">START</a>
        </div>
    <a style="width: 170px" class="brk-btn" href="{% url 'change_sub' object.id 'remove' %}">Unsubscribe</a>
    {% else %}
    <a style="width: 170px" class="brk-btn" href="{% url 'change_sub' object.id 'add' %}">Subscribe</a>
    {% endif %}
    {% endif %}
    {% for i in object.feedback|get_m %}
      <div id="comment">
        <img src="{{ i.user.profile.image.url }}" id="profile_icon">
         <a class="mr-2" href= "{% url 'user-posts' i.user %}" >{{ i.user }}</a>
      <div class="rating">
          {% if i.rating >= 0 %}
          {% for j in i.rating|for_ %}
            <span class="fa fa-star checked"></span>
          {% endfor %}
          {% for j in 5|for_subtract:i.rating %}
          <span class="fa fa-star"></span>
          {% endfor %}
          {% endif %}
          </div>
      <h4>{{ i.comment }}</h4>
      <h5>{{ i.date_posted }}</h5>
    </div>
    {% endfor %}
  </div>
  
  <div style="display:none;" id="create_comment_window">
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <br>
      <input type="radio" id="no_rating" name="rating" value="-1" checked>-no rating
      {% if object in sub %}
      <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
      </fieldset>
      {% else %}
        <h6>You are the owner <br>(you cannot vote but can reply to feedback)</h6>
      {% endif %}
      <br>
        <label for="comment">*feedback</label>
      <br>
        <input type="text" name="comment">
      <br>
      <button style="float: right;" class="btn btn-secondary" onclick="toggle_comment(); return false;">cancel</button>
      <button class="btn btn-secondary" type="submit" >submit</button>
    </form>
    <!-- <form method="POST">{% csrf_token %}
      <input type="text" name="rating" placeholder="rating">
      
       <button class="btn btn-secondary" type="submit" >submit</button>
    </form> -->
  </div>
  <div style="display: none;" id="fade_Screen"></div>
</article>
</div>
{% endblock content %}