{% extends "store/base.html" %}
{% block content %}
{% load static from staticfiles %}
{% load extra_filter %}
<div id="main">
    {% if error %}
    <div class={% if error.0 == "E"  %}"alert alert-danger"{% else %}"alert alert-success"{% endif %} role="alert">
            {{error}}
    </div>
    {% endif %}
  <div>
    <a href="../../">Back to Interactive</a>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <fieldset>
          <legend style="text-align: center;" >Quiz name: <a style="font-size: 18pt; font-weight: 600;" href="../">{{ quiz.title }}</a> </legend>
            <fieldset style="float: right; width: 35%;">
              <legend>Edit Quiz' Properties</legend>
              <span>{{ quiz_form.as_p }}</span>
              <h6>*time limit of quiz in seconds <br> *leave this as blank if there is no time limit</h6>
              <br><input type="radio" name="remove" value="" checked="checked"><strong style="margin-left:10px;">Leave all results</strong>
              <br><input type="radio" name="remove" value="mine"><strong style="margin-left:10px;">Remove your results</strong>
              <br><input type="radio" name="remove" value="all"><strong style="margin-left:10px;">all results</strong>
              <br>
              <br><a href="{% url 'score_chart' quiz.post.id quiz.id %}" class="btn btn-success">view high scores</a>
            </fieldset>
            <fieldset style="float: left; width: 45%;  position: relative; display: block;">
                <span style="position: absolute; bottom: 40px; right: 0px;">
                   <button type="button" style="overflow: initial; background:none; border-radius: 50px; outline: none;" onclick="add_another_qn(); return true;"><span id="add_button"></span></button>
                    </span>
              <legend>Edit Quiz' Questions</legend>
            {{ question_edit.management_form }}
            
            {% if question_edit.errors %}
            {% for field in question_edit %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in question_edit.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endif %}
          <div id="expandable_form">
            <ol>
            {% for question in question_edit %}
              {% if forloop.counter > existing_qns|add:1 %}
            <div id="qnE_{{forloop.counter}}" class="link-formset" style="display: none;">
              {% else %}
            <div id="qnE_{{forloop.counter}}" class="link-formset" style="display: block;">
              {% endif %}
              <li>{{ question.as_p }}</li>
              <br> 
            </div>
            {% endfor %}
          </ol>
          </div>
          <script type="text/javascript">
              function add_another_qn() {
                for (i = 1; i <= 40; i ++) {
                //   document.getElementById("qnE_" + str(i)).style.display = "block";
                var x = document.getElementById("qnE_" + i.toString());
                  if (x.style.display == "none") {
                    x.style.display = "block";
                    break;
                  }
                }
              }
              </script>
              <span style="z-index: 900; width:15%; position:fixed; left: 50%; bottom:5%;"><button class="btn btn-secondary" type="submit" >Confirm <br> Changes</button></span>
            </fieldset>
        </fieldset>
        </form>
</div>
{% endblock content %}