{% extends "store/base.html" %}
{% block content %}
  {% include "store/home_ext.html" %}
  <div style="padding-top: 20px;" id="main" >
    <section class="text-center mb-4">
      <div class="row" id="random"> 
        {% for post in posts %}   
        {% include "store/card.html" %}
        {% endfor %}
      </div>
      <div class="row" id="subscription" style="display: none;">
        {% if not subs %}
        <h2>You have not subscribed to any course :/</h2>
        {% endif %} 
        {% for post in subs %}
        {% include "store/card.html" %}
        {% endfor %}
      </div>
      <div class="row" id="content" style="display: none;"> 
        {% if not mine %}
        <h2>You have not published anything :/</h2>
        {% endif %}   
        {% for post in mine %}
        {% include "store/card.html" %}
        {% endfor %}
      </div>
    </section>
    {% include "store/pagination.html" %}
</div>
{% endblock content %}