{% extends "store/base.html" %}
{% block content %}
  {% load extra_filter %}
  {% include "store/home_ext.html" %}
  <div style="padding-top: 20px;" id="main" >
    <div style="width: 100%; height:50px;">
      <select id="sorter" class="select-css" onchange="get_order(); return true;">
        <option value="-date_posted" selected>Newest</option>
        <option value="-n_rating">Rating</option>
        <option value="-n_subs">Subscribers</option>
        <option value="price">Cost</option>
      </select>
      </div>
    {% for sortby in "price -date_posted -n_rating -n_subs"|split_this %}
    <section class="text-center mb-4 {{ sortby }}" {% if sortby != '-date_posted' %} style="display: none;" {% endif %}>
      <div class="row random"> 
        {% for post in posts|order_by:sortby %}   
        {% include "store/card.html" %}
        {% endfor %}
      </div>
      <div class="row subscription" style="display: none;">
        {% if user.is_authenticated %}
        {% if not subs %}
        <h2>You have not subscribed to any course :/</h2>
        {% endif %}
        {% for post in subs|order_by:sortby %}
        {% include "store/card.html" %}
        {% endfor %}
        {% endif %}
      </div>
      <div class="row content" style="display: none;"> 
        {% if user.is_authenticated %}
        {% if not mine %}
        <h2>You have not published anything :/</h2>
        {% endif %}   
        {% for post in mine|order_by:sortby %}
        {% include "store/card.html" %}
        {% endfor %}
        {% endif %}
      </div>
    </section>
    {% endfor %}
    {% include "store/pagination.html" %}
</div>
{% endblock content %}