{% extends "store/base.html" %}
{% block content %}
	<div id="main">
		<table class="table mb-0">
	    <thead>
	      <tr>	        
	        <th>Title</th>
	        <th>Author</th>
	        <th>Download</th>
	        <th>Delete</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for l in lesson %}
	      <tr>
          	<td>
		      	{% if l.file %}
	              	{{ l.title }}
	           	{% else %}	           		
	           	<h6>Not available</h6>
	            {% endif %}
	        </td>
	        <td>{{ l.post.author }}</td>
	        <td>{% if l.file %}	              	
	           	<a href="{{ l.file.url }}" class="btn btn-primary btn-sm" target="_blank">Download</a>
	           	{% else %}
	           	<h6>Not available</h6>
	           	{% endif %}	   
	        </td>
	        <td><form method="post" action="{% url 'delete_lesson' l.post_id %}">
	        	{% csrf_token %}
	        	<button type="submit" class="btn-danger btn-sm">Delete</button>
	        </form></td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
{% endblock %}